################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionalTest/.vs/FunctionalTest
/.vs
/FunctionalTest/FunctionalTest/bin/Debug/net6.0
/FunctionalTest/FunctionalTest/obj
/FunctionalTest/FunctionalTest.Common/obj
/FunctionalTest/FunctionalTest.Common/bin/Debug/net6.0
/FunctionalTest/FunctionalTest/TestReports
